name: ${repository.directoryName}
title: ${repository.title}
version: master
asciidoc:
  attributes:
    numbered: '@'
    app-name: ${repository.directoryName}
start_page: ROOT:index.adoc
nav:
  - modules/ROOT/nav.adoc
