pluginManagement {
    resolutionStrategy {
        eachPlugin {
            if (requested.id.namespace == "com.github.peacetrue.gradle") {
                useModule("${esc.d}{requested.id.namespace}:peacetrue-gradle-plugin:${esc.d}{requested.version}")
            }
        }
    }

    repositories {
        mavenLocal()
        mavenCentral()
        maven { url "https://oss.sonatype.org/content/repositories/snapshots/" }
        maven { url "https://maven.aliyun.com/nexus/content/groups/public" }
    }
}

rootProject.name = "${module.directoryName}"
